:root {
    --colorOne: #292b2c;
    --colorTwo: #9457eb;
    --colorThree: #f7f7f7;
    --fontOne: 'Handlee';
    --fontTwo: 'Pacifico';
    --fontThree: 'Raleway';
}

.navbarDiv {
    width: 100%;
    height: 10vh;
    color: var(--colorThree);
    position: relative;
    background: linear-gradient(to bottom, black, transparent);
}

.navbarDiv i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 3rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px var(--colorTwo);
    z-index: 1000;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    background: linear-gradient(to bottom, #00000091, black);
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}

.overlayContainer h1 {
    color: var(--colorThree);
    font-family: var(--fontTwo);
    text-align: center;
    margin: 4rem 0;
    font-size: 5rem;
}

.overlay .inputField {
    background: none;
    border: 2px solid var(--colorThree);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: var(--fontThree);
    width: 100%;
    color: var(--colorThree);
    transition: 0.2s ease-in-out;
}

.inputField:focus {
    outline: none;
    box-shadow: 4px 4px 5px var(--colorTwo);
}

.overlay .submitButton {
    border: none;
    background-color: var(--colorTwo);
    margin: 1rem 0;
    color: var(--colorThree);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-family: var(--fontThree);
    font-size: 1.2rem;
    width: 50%;
}

.pageOne {
    height: 100vh;
    width: 100%;
}

.timeField {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorThree);
    font-family: var(--fontThree);
    font-size: 12rem;
    opacity: 0.7;
    text-shadow: 5px 5px 4px var(--colorTwo);
}

.hour {
    text-align: center;
}

.minute {
    margin-top: -6rem;
    text-align: center;
}

.date {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 5px;
}

.bubblesDiv {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../gallery/wallpapers/black_wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.6;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--colorTwo);
    animation: animate 10s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 45px;
    height: 45px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

