:root {
    --colorOne: #292b2c;
    --colorTwo: #f0ad4e;
    --colorThree: #f7f7f7;
    --fontOne: 'Handlee';
    --fontTwo: 'Pacifico';
    --fontThree: 'Raleway';
}

.pageOne {
    height: 100vh;
    width: 100%;
}

.timeField {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorTwo);
    font-family: var(--fontThree);
    font-size: 12rem;
}

.hour {
    text-align: center;
}

.minute {
    margin-top: -6rem;
    text-align: center;
}

.searchField {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}


.searchField #inputField {
    border: 2px solid var(--colorTwo);
    border-radius: 20rem;
    background: none;
    padding: 0.5rem 1.5rem;
    width: 40vh;
    height: 5vh;
    font-size: 1.5rem;
    color: var(--colorThree);
    font-family: var(--fontThree);
}

.searchField #inputField:focus {
    outline: none;
}

.searchField .searchButton {
    margin: 2rem 1rem;
}

.searchField #searchButton {
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    background: var(--colorTwo);
    border: none;
    border-radius: 0.4rem;
    width: 40%;
    text-align: center;
    font-family: var(--fontThree);
    font-weight: 400;
    font-size: 1.5rem;
}

.bubblesDiv {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--colorOne);
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.6;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--colorTwo);
    animation: animate 10s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 45px;
    height: 45px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
