.row {
    margin: 0;
    padding: 0;
}
.box-inner {
    width: 80%;
    height: 20vh;
    position: absolute;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    overflow: hidden;
}

.thumb {
    width: 20rem;
    background-color: blue;
    height: 20vh;
    margin: 5px;
    display: inline-block;
}

.arrow {
    width: 5rem;
    height: 5rem;
    z-index: 10;
    background-color: white;
}
