:root {
    --primaryColor: #344e41;
    --primaryColor2: #3a5a40;
    --secondaryColor: #588157;
    --secondaryColor2: #a3b18a;
    --tertiaryColor: #dad7cd;

    --shadow: #212529;

    --font1: "Noto Serif";
    --font2: "Urbanist";
    --font3: "Dancing Script";
    --font4: "Abril Fatface"
}

.loading-screen {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tertiaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.loading-content h1 {
    font-family: var(--font4);
    font-size: 3rem;
}

nav {
    position: absolute;
    margin: 2rem;
    right: 0;
    overflow: hidden;
}

/* Style the navigation links */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: var(--font2);
    font-size: 1.3rem;
    padding: 10px;
    transition: 0.2s all linear;
}

/* Change link color on hover */
nav a:hover {
    color: var(--secondaryColor);
}

.backgroundimage {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    position: relative;
    z-index: -1;
}

.backgroundimage .overlay {
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(to bottom, var(--shadow), #2125297c);
    transition: backgroundimage 2s ease-in-out;
    z-index: 0;
}

.backgroundimage article {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--tertiaryColor);
    width: 80%;
    z-index: 1;
}

.backgroundimage article h1 {
    font-family: var(--font4);
    font-size: 6rem;
}

.backgroundimage article p {
    font-family: var(--font2);
    font-size: 1.3rem;
}

.fade-in {
    animation: fade-in 3s ease-in;
}

@keyframes fade-in {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.talkToBot {
    min-height: 100vh;
    padding: 3rem 5rem;
    position: relative;
}

.talkToBot h1 {
    font-family: var(--font4);
    font-size: 4rem;
    padding: 1 2rem;
}

.chat-container {
    background-color: var(--primaryColor2);
    min-height: 50vh;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 4px 4px 10px var(--shadow);
}

.chat-messages {
    height: 40vh;
    margin: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: var(--font2);
    overflow-y: auto;
    color: var(--tertiaryColor);
}

.chat-input {
    width: 100%;
    font-family: var(--font2);
    font-size: 1.3rem;
    padding: 0 1rem;
}

.chat-input input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
}

.chat-input input:focus {
    outline: none;
}

#sendButton {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: var(--font2);
    border-radius: 2rem;
}

.animatedSVG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 12px;
    margin-right: 2rem;
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: var(--secondaryColor2);
    border-radius: 6px;
}

