:root {
    --primaryColor: #22223b;
    --primaryColor2: #4a4e69;
    --secondaryColor: #9c6644;
    --secondaryColor2: #c9ada7;
    --tertiaryColor: #f7f7f7;

    --shadow: #212529;

    --font1: "Work Sans";
    --font2: "Urbanist";
    --font3: "Quicksand";
}