main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

main section h1{
    font-size: 3rem;
}

main section .btn {
    padding: 0.8rem 2rem;
    margin: 1rem;
    font-size: 1.4rem;
}

main section a {
    text-decoration: none;
    font-size: 1.3rem;
}

main section .scoreboard {
    margin: 1.5rem;
}
