main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    transition: 2s all ease-in;
}

main section h1{
    font-size: 3rem;
}

main section .btn {
    padding: 0.8rem 2rem;
    margin: 1rem;
    font-size: 1.4rem;
    transition: 0.2s all linear;
}

.animate{
    animation: kill 1.5s ease-in-out;
    position: relative;
}

@keyframes kill {
    25%{
        transform: translateY(-15px);
    }
    70% {
        transform: translateY(0px);
    }
}

main section a {
    text-decoration: none;
    font-size: 1.3rem;
}

main section .scoreboard {
    margin: 1.5rem;
}

.gifdiv {
    display: none;
    transition: 2s linear all;
}

.gifdiv img {
    width: 70%;
    height: auto;
}

.lostgif {
    display: none;
    transition: 2s linear all;
}

.lostgif img {
    width: 40%;
    height: auto;
}