:root {
    --primary-color: rgba(245, 245, 245, 0.6);
    --secondary-color: #3B3098;
    --tertiary-color: #1c1c1e;
}

body {
    padding: 0 2rem;
    height: 100vh;
    background-image: url("./media/_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

main {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableOfContents {
    border-radius: 1rem 0 0 1rem;
    background-color: var(--primary-color);
    height: 90vh;
    overflow: auto;
}

.tableOfContents h3 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-family: "Afacad";
}

.tableOfContents li {
    font-family: "Afacad";
    font-size: 1.5rem;
}

.tableOfContents ol li a {
    color: var(--secondary-color);
    font-size: 1.3rem;
    text-decoration: none;
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;
    transition: 0.2s linear;
}

.tableOfContents ol li a:hover {
    padding: 0 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.infoCol {
    background-color: var(--primary-color);
    border-radius: 0 1rem 1rem 0;
    height: 90vh;
    overflow: auto;
}

.infoDiv {
    padding: 2rem;
    font-family: "Afacad";
}

.infoDiv h1 {
    color: var(--secondary-color);
    font-size: 3rem;
}

.floating {
    animation: floating 4s infinite ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.infoDiv h2 {
    font-size: 2.5rem;
}

.infoDiv article {
    font-size: 1.3rem;
}

.infoDiv article a{
    color: var(--secondary-color);
}

#about_me {
    padding-top: 2rem;
    height: 80vh;
    position: relative;
}

#about_me h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
}

#about_me p {
    font-size: 1.5rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.social ul {
    margin-left: -32px;
}

.social li {
    display: inline-block;
    font-size: 3rem;
}

.social li a {
    margin: 0 0.2rem;
    color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    transition: 0.2s ease-in;
}

.social li a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.copyright {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.downloadable_content a {
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.2s ease-in-out;
}

.downloadable_content p a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0 1rem;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
.scrollable-div::-webkit-scrollbar {
    width: 8px; /* width of the vertical scrollbar */
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color); /* color of the thumb */
}

.scrollable-div::-webkit-scrollbar-track {
    background-color: #f5f5f500; /* color of the track */
    margin: 2rem;
}

.page.active {
    display: block;
}

.page.active article, .page.active h2 {
    animation: fadeInBottom 0.5s ease-in-out;
}

.page {
    display: none;
}

article {
    transition: 0.2s ease-in-out;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: #f4f4f4;
    padding: 2rem;
    margin: 1rem 0;
    overflow: auto;
    width: 100%;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:15vh;
  min-height:100px;
  max-height:150px;
  z-index: 0;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/* Add a fade-in animation */
@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(6rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  