:root{
    --color1: #E30B5C;
    --color2: #1d1f20;
    --color3: #f9f6ee;
}

main {
    background-color: var(--color2);
}

.mynavbar {
    display: flex;
    justify-content: center;
    background-color: var(--color2);
}

.mynavbar img{
    height: 4rem;
    margin-right: 1rem;
}

.mynavbar ul li{
    display: inline-block;
    margin: 1rem 0.5rem 0 0.5rem;
}

.mynavbar ul li a{
    background-color: #f9f6ee0a;
    color: var(--color1);
    padding: 1rem;
    text-decoration: none;
    transition: 0.2s linear;
}

.mynavbar ul li .resume {
    background-color: var(--color1);
    color: var(--color3);
}

.mynavbar ul li a:hover {
    background-color: var(--color1);
    color: var(--color3);
}

.mynavbar ul li .resume:hover {
    background-color: var(--color3);
    color: var(--color1);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--color1);
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color1);
    transform-origin: center;
    transition: transform 0.45s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

.container1 {
    width: 100%;
    height: 85.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.displaycontainer {
    color: whitesmoke;
    display: flex;
}

.iam {
    font-size: 5vw;
    font-weight: 100;
}

.text {
    font-weight: 100;
    font-size: 5vw;
    color: #E30B5C;

}

.typed-cursor {
    font-size: 5vw;
    color: #E30B5C;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(227, 11, 92, 0.3);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 45px;
    height: 45px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.footer .btn {
    color: var(--color1);
}

/* width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #676767;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E30B5C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff005d;
}